{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 500px; margin-top:40px;">
        <!--   message start   -->
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <!--   message end   -->

        <div class="card-body">
        <h4 class="card-title mb-4">Forgot Password</h4>
        <form method='post'>
            {% csrf_token %}
            <div class="form-group">
                <input name="email" class="form-control" placeholder="Email" type="email" required>
            </div> <!-- form-group// -->
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Reset Password </button>
            </div> <!-- form-group// -->    
        </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">Got password? <a href={% url "loginPage" %}>Login</a></p>
    <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}