{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT START// ========================= -->

<section class="section-content padding-y bg">
    <div class="container">

		<!--   message start   -->
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <!--   message end   -->


<!-- ============================ COMPONENT 1 ================================= -->
{% if not cart_items %}
<div class="container text-center">
	<h2 class="m-3">Your cart is Empty.</h2>
	<a href={% url "store" %} class="btn btn-outline-primary m-5">Continue Shopping</a>
</div>

{% elif cart_items %}

<div class="row">
	<aside class="col-lg-6">
		<div class="card mb-2">
			<div class="card-body">
				<h4 class="card-title mb-4">Your Billing Address :</h4>
                <p>
                    Name : {{order_details.first_name}} {{order_details.last_name}} <br>
                    Email : {{order_details.email}} <br>
                    Phone : {{order_details.phone}} <br>
                    Address : {{order_details.address_line_1}}, {{order_details.address_line_2}}, {{order_details.city}}, {{order_details.pincode}} <br>
                    State : {{order_details.state}} <br>
                    Country : {{order_details.country}} <br>
                    </p>
			</div>
        </div>
		<div class="card mb-2">
			<div class="card-body">
				<h4 class="card-title mb-4">Payment Method :</h4>
                <p>this is your billing address thank you</p>
			</div>
        </div>
		<div class="card mb-2">
			<div class="card-body">
				<h4 class="card-title mb-4">Review Products :</h4>
                <p>this is your billing address thank you</p>
			</div>
		</div> <!-- card.// -->

	</aside> <!-- col.// -->

	<aside class="col-lg-6">

		<div class="card">
		<div class="card-body">
			
		<table class="table table-borderless table-shopping-cart">
			<thead class="text-muted">
			<tr class="small text-uppercase">
			<th scope="col">Product</th>
			<th scope="col" width="120">Quantity</th>
			<th scope="col" width="120">Price</th>
			<!-- <th scope="col" class="text-right" width="200">Action</th> -->
			</tr>
			</thead>
			<tbody>
			
			{% for cart_item in cart_items %}
			<tr>
				<td>
					<figure class="itemside align-items-center">
						<div class="aside"><a href={{ cart_item.product.get_url }}><img src={{ cart_item.product.image.url }} class="img-sm"></a></div>
						<figcaption class="info">
							<a href={{ cart_item.product.get_url }} class="title text-dark">{{cart_item.product.product_name}}</a>
							<!-- <p class="text-muted small">Color: ___ <br> Size: ___ <br> Cateegory: {{cart_item.product.category}}</p> -->
						</figcaption>
					</figure>
				</td>
				<td>
					<div class="form-group col-md flex-grow-0">
						<div class="input-group mb-3 input-spinner">
							<!-- <div class="input-group-append">
								<a href={% url "decrease_cart_quantity" cart_item.product.id %} class="btn btn-light" type="button" id="button-minus"> &minus; </a>
							</div> -->
							<strong>{{cart_item.quantity}}</strong>
							<!-- <div class="input-group-prepend">
								<a href={% url "increase_cart_quantity" cart_item.product.id %} class="btn btn-light" type="button" id="button-plus"> + </a>
							</div> -->
						</div>
					</div> <!-- col.// -->
				</td>
				<td> 
					<div class="price-wrap"> 
						<var class="price">${{cart_item.total_price}}.00</var> 
						<small class="text-muted"> ${{cart_item.product.price}}.00 each </small> 
					</div> <!-- price-wrap .// -->
				</td>
				<!-- <td class="text-right"> 
				<a href={% url "remove_from_cart" cart_item.product.id %} class="btn btn-danger"> Remove</a>
				</td> -->
			</tr>
			{% endfor %}
			</tbody>
			</table>

			<div class="card p-3">
				<dl class="dlist-align">
				  <dt>Total price:</dt>
				  <dd class="text-right">${{grand_total_price}}.00</dd>
				</dl>
				<dl class="dlist-align">
				  <dt>Discount:</dt>
				  <dd class="text-right text-danger">- $0.00</dd>
				</dl>
				<dl class="dlist-align">
				  <dt>Total:</dt>
				  <dd class="text-right text-dark b"><strong>${{grand_total_price}}.00</strong></dd>
				</dl>
				
				<a href={% url "make_payment" %} class="btn btn-primary btn-block">Make Payment</a>
				<!-- <a href={% url "store" %} class="btn btn-light btn-block">Continue Shopping</a> -->
			</div>
		</div> <!-- card-body.// -->
        

		</div> <!-- card.// -->

	</aside> <!-- col.// -->


</div> <!-- row.// -->
{% endif %}
<!-- ============================ COMPONENT 1 END .// ================================= -->

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}